<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .bg-image-vertical {
            position: relative;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: right center;
            background-size: auto 100%;
        }

        @media (min-width: 1025px) {
            .h-custom-2 {
                height: 100%;
            }
        }

    </style>
</head>
<body>

<div class="container">
    <div id="content">

        <th:block th:replace="~{fragments/header :: header}"></th:block>
        <section class="vh-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 text-black">

                        <div class="px-5 ms-xl-4">
                            <em class="fas fa-scissors fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></em>
                            <span class="h1 fw-bold mb-0">Lilith</span>
                        </div>

                        <form method="post" action="/user/login" id="loginForm" style="width: 23rem;">

                            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Login</h3>

                            <div class="form-outline mb-4">
                                <input type="email" id="loginFormEmail"
                                       class="form-control form-control-lg active"
                                       placeholder="Email address" name="email" required>
                                <label class="form-label" for="loginFormEmail">Email</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="loginFormEmailPass"
                                       class="form-control active form-control-lg"
                                       placeholder="Password" name="password" required>
                                <label class="form-label" for="loginFormEmailPass">Password</label>
                            </div>
                            <p id="errorText" style="color: red;"></p>
                            <div class="pt-1 mb-4">
                                <button class="btn btn-info btn-lg btn-block" type="button"
                                        onclick="processLogin()">Login
                                </button>
                            </div>


                            <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot your password?</a></p>
                            <p>acc <a href="/sign-up" class="link-info">registration</a></p>

                        </form>
                    </div>
                    <div class="col-sm-6 px-0 d-none d-sm-block">
                        <img th:src="@{/ui/images/welcome.jpg}"
                             alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
                    </div>
                </div>
            </div>
        </section>
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
        <script>
            function processLogin() {
                var email = document.getElementById('loginFormEmail').value;
                var password = document.getElementById('loginFormEmailPass').value;

                $.ajax({
                    url: '/user/login',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({email: email, password: password}),
                    success: function (response) {
                        if (response.accessToken) {
                            localStorage.setItem('accessToken', response.accessToken);

                            window.location.href = '/ui/home';
                        } else {
                            document.getElementById('errorText').innerText = 'Invalid credentials';
                        }
                    },
                    error: function (error) {
                        console.error('errror:', error);
                    }
                });
            }
        </script>
    </div>
</div>
</body>
</html>